<!DOCTYPE html>
<html ng-app='coyote'>
<head>
  <title>Coyote eat Squirrel</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.1/clipboard.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">


  <link rel='shortcut icon' type='image/x-icon' href='logo.png' />
</head>
<body>

<div class="container">
  <div class="row">
    <div class="logo col-md-8 offset-md-2 text-center noselect align-bottom">
        <p class="h1"><img src="logo.png"/>
        <span class="about">Coyote</span></p>
    </div>
  </div>


  <div ng-controller='CoyoteController'>
    <textarea id="textEditor" ng-model="formData.xml" class="rounded"></textarea>
    <button id="btnGerarFiltros" ng-click="convert();hideToggle();updateToggle();" class="btn btn-primary btn-sm">Gerar Filtros</button>
    <button id="btnLimpar" ng-click="formData={}" class="btn btn-warning btn-sm">Limpar</button>
    <button id="copyToggle"  ng-if="formData.keys.length > 0" class="btn btn-info btn-sm">Ativar/Desativar Copy</button>

    <div ng-if="formData.keys.length > 0">
      <hr>
      <div class="row">
        <div class="col-md-auto col-sm-6">
          <select ng-change="getContent();updateToggle();" ng-model="formData.selectedKey" >
            <option ng-repeat="k in formData.keys">{{k}}</option>
          </select>
        </div>
        <div class="col-md-auto">
          | <input type="text" ng-change="filterByString()" ng-model="formData.filterString">
        </div>
        <br />
        <div class="col-md-auto col-sm-4">
          | <input type="checkbox" ng-click="getUniqResult();updateToggle();" id="chkUniq"><label for="chkUniq" class="labelText"> Resultados únicos</label>
        </div>
        <div class="col-md-auto col-sm-4">
          | <input type="checkbox" ng-click="getOrderedResult();updateToggle();" id="chkOrder"><label for="chkOrder" class="labelText"> Ordenar </label>
        </div>
        <div class="col-md-auto col-sm-4">
          | <input type="checkbox" ng-click="getTrimmedResult();updateToggle();" id="chkTrim"><label for="chkTrim" class="labelText"> Trim </label>
        </div>
        <div class="col-md-auto col-sm-4">
          | <span style="font-weight: bold">{{formData.result.length}}</span> Registros
        </div>

      </div>

      <hr>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button ng-if="formData.result.length > 0" class="clipboardAll btn btn-sm btn-success"
             data-clipboard-text="{{formatArray(formData.result)}}">
            Copy all
          </button>
        </div>
      </div>

      <div ng-if="formData.result.length > 0" ng-repeat="data in formData.result track by $index" ng-class-odd="'odd'"
           ng-class-even="'even'" class="result">
           <button class="clipboard btn btn-link"
              data-clipboard-text="{{data}}">
             Copy
           </button>
           <span class="divider">|</span>
           {{data}}
      </div>
    </div>
  </div>
</div>
<script>


</script>

</body>
</html>
